html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {color: #048;}
a:hover {color: #06C;}

body {
	background: #E7E7E2 url('../img/body.jpg') no-repeat center top;
	color: #444;
	padding-top: 64px;
	font-size: 12px;
}


h1 {font: normal 1.8em Tahoma,sans-serif;}
h2 {font: bold 1.4em sans-serif;}
h3 {font: bold 1em Tahoma,sans-serif;}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #CCC;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(../img/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

h1,h2,h3 {padding-top: 6px; color: #553; margin-bottom: 4px;}

/* misc */
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}

/* structure */
.inner-container {
	border: 2px solid #D7D7D2;
	background: #FFF;
	padding: 10px;
	width: 780px;
	margin-left: auto;
    margin-right: auto;
}

.outer-container {
	background: url('../img/container.jpg') no-repeat center bottom;
	padding-bottom: 64px;
}

/* headere & title */
.header {
	background: #222 url('../img/header.jpg') no-repeat;
	height: 160px;
	margin-bottom: 5px;
	text-align: center;
}
.header .title {
	color: #FFF;
	padding-top: 50px;
}
.header .title .sitename a {
	border-bottom: 1px dashed #657382;
	color: #FFF;
	font: normal 3em sans-serif;
	padding-bottom: 2px;
	text-decoration: none;
}
.header .title a:hover {border-color: #F60;}
.header .title .slogan {
	font: normal 1.1em Verdana,sans-serif;
	padding-top: 6px;
}

/* path */
.path {
	background: #949490;
	color: #FFF;
	font: normal 1.1em Verdana,sans-serif;
	padding: 8px 12px;
}
.path a {
	color: #FAFAFA;
	text-decoration: none;
}
.path a:hover {
	color: #FFE;
	text-decoration: underline;
}

/* main */
.main {
	border-top: 4px solid #FFF;
	padding: 8px 0 0 0;
}

/* content */
.content {
	font-size: 12px;
}

.content p {font-family: "Lucida Sans Unicode",sans-serif;}

/* navigation */


/* footer */
.footer {
	background: #949490;
	color: #F7F7F2;
	margin-top: 5px;
	padding: 10px 12px;
}
.footer a {
	color: #F7F7F2;
	text-decoration: underline;
}
.footer a:hover {color: #FFC;}

.ui-widget {
    font-size: 12px;
}

/* start of menu */
ul#nav {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index:9999;
}


ul#nav li a {
	display: block;
	font-weight: bold;
	padding: 2px 5px;
	background:#f9f9f9;
	color:#000;
}

ul#nav li a:hover{
	background:#949490;
	color:#fff;
}
	
ul#nav li {
	float: left;
	position: relative;
	width: 90px;
	text-align: center;
	margin-right:2px;
	border:1px solid #ccc;
}

ul#nav li.current a{
	background:#ddd;
}

ul#nav li.current a:hover{
	background:#888;
}

li ul {
	display: none;
	position: absolute;
	width:80px;
	top: 0;
	left: 0;
	font-weight: normal;
	padding: 1px 0 5px 0;
	margin-left:-1px;
}

ul#nav li ul.sub li{
	border-width:0 1px 1px 1px!important;
	z-index:9999;
}

ul#nav li ul.sub li a{
	font-weight: normal!important;	
}
li>ul {
	top: auto;
	left: auto;
}

li:hover ul, li.over ul {
	display: block;
}

ul {
	list-style: none;
}
/* end of menu */